.chat {
  display: flex;
  position: absolute;
  justify-content: center;
  z-index: 1000;
  bottom: 30px;
  right: 20px;
}

.chat_icon > .MuiSvgIcon-root {
  padding: 10px;
  font-size: 35px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 10px;
}

.chat_icon > .MuiSvgIcon-root:hover {
  scale: 1.2;
  background-color: lightgray;
}

.chat_container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 85vh;
  background-color: white;
  border-radius: 5px;
  padding: 0 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 10px;
}

.chat_container_header {
  flex: 0.1;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.chat_container_header > img {
  object-fit: contain;
  width: 20px;
  margin-left: 5px;
  margin-right: 20px;
  flex: 0.1;
}

.chat_container_header > h4 {
  flex: 0.8;
  font-size: large;
}

.chat_container_header > .MuiSvgIcon-root {
  flex: 0.1;
}

.chat_container_header > .MuiSvgIcon-root:hover {
  cursor: pointer;
  scale: 1.5;
}

.chat_container_body {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: scroll;
  flex: 0.8;
}

.chat_container_body_help {
  position: absolute;
  top: 20px;
  left: 10px;
  background-color: lightgreen;
  border-radius: 5px;
  padding: 0 20px;
}

.chat_container_body_question {
  position: absolute;
  top: 100px;
  right: 10px;
  background-color: lightcyan;
  border-radius: 5px;
  padding: 0 20px;
}

.chat_container_body_anwser {
  position: absolute;
  top: 190px;
  left: 10px;
  max-width: 80%;
  background-color: lightgreen;
  border-radius: 5px;
  padding: 0 20px;
}

.chat_container_footer {
  flex: 0.2;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.chat_container_footer_row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 5px 0;
}

.chat_container_footer_option {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.chat_container_footer_option:hover {
  cursor: pointer;
  background-color: lightgray;
  font-weight: bold;
}

.chat_container_footer_option > h4 {
  margin-left: 10px;
}
